/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
	background: url(../images/banner_bg.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.header-top{
	background: rgba(12, 39, 40, 0.31);
}
.logo {
	float:left;
}
/*--menu--*/
.drp-dwn{
	float:right;
	margin:7px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block!important;
	width:100%;
	border: none;
	background:#0C2728;
	color: #FFF;
	cursor: pointer;
	font-size: 0.8125em;
	float: right;
}
/**** Slider *****/
.slider_text{
	width:50%;
	margin:0 auto;
	text-align: center;
	padding: 10px 0;
}
.slider_text h1{
	color: #FFF;
	font-size:1.2em;
	font-weight: 300;
	margin-bottom: 5px;
}
.m_1 {
	position: relative;
}
.m_1 p{
	color:#fff;
	font-size:0.8125em;
}
span.right_line {
	height: 3px;
	width:20px;
	display: block;
	background: url(../images/border.png) no-repeat 0px 0px;
	position: absolute;
	right:-30px;
	bottom: 5px;
}
span.head{
	font-weight:bold;
}
span.left_line {
	height: 3px;
	width: 20px;
	display: block;
	background: url(../images/border.png) no-repeat 0px 0px;
	position: absolute;
	left:-30px;
	bottom: 5px;
}
.social{
	padding-top:10px;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
}
li.twitter a span {
	height: 30px;
	width:24px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -26px -320px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite1.png)no-repeat -16px -360px;
}
li.facebook a span {
	height: 30px;
	width:24px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -66px -320px;
}
li.facebook a span:hover{
	background: url(../images/img-sprite1.png)no-repeat -66px -359px;
}
li.google a span {
	height: 30px;
	width:24px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -109px -320px;
}
li.dribble a span {
	height: 30px;
	width:26px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -146px -320px;
}
li.dribble a span:hover{
	background: url(../images/img-sprite1.png)no-repeat -146px -361px;
}
.test-monials-grids{
	background:#f4f7f9;
	padding:30px 10px 10px;
}
.col_1_of_3 {
	display: block;
	margin-bottom: 20px;
}
.span_1_of_3 {
	text-align: left;
}
h3.m_2{
	text-align: center;
	font-size:1em;
	color:#0FCF8C;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 1%;
}
.m_3{
	text-align:center;
	position:relative;
}
span.left_line1 {
	height: 3px;
	width:60px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	left: 14%;
	bottom: 13px;
}
span.right_line1 {
	height: 3px;
	width:60px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	right:14%;
	bottom: 13px;
}
ul.icon1 img{
	vertical-align: middle;
	float: left;
	margin-right:10px;
}
.desc{
	width:65.5%;
	float: left;
}
.desc h4{
	color:#1F313F;
	font-size:0.85em;
	font-weight: 600;
	margin-bottom:5px;
}
.desc p{
	color: #4D606E;
	font-size: 0.8125em;
	line-height: 1.5em;
	font-weight: 600;
}
i.feather{
	width: 48px;
	height: 50px;
	background: url(../images/img-sprite1.png)-276px -185px;
	float: left;
	margin-right: 4%;
}
i.pencil{
	width: 48px;
	height: 50px;
	background: url(../images/img-sprite1.png)-200px -185px;
	float: left;
	margin-right: 4%;
}
i.megaphone{
	width: 48px;
	height: 50px;
	background: url(../images/img-sprite1.png)-354px -185px;
	float: left;
	margin-right: 4%;
}
.box1{
	padding-top:10px;
	background:#F4F7F9;
}
/*--works--*/
.works{
	background:#fff;
	padding:30px 0;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		color: #1F313F;
		cursor: pointer;
		font-size: 0.8125em;
		font-weight: 700;
	}
	#filters li span.active {
		background:#0FCF8C;
		color: #FFF;
	
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width:50%;
		display:none;
		float:left;
		overflow:hidden;
	}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio img {
		
		display: block;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	visibility: hidden;
	font-size:0.8125em;
	font-weight:700;
}
.b-animate img{
	margin-top:2%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 10px auto 20px;
	width: 70%;
	color: #283A47;
	font-size: 0.85em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
/*--team--*/
.team{
	background:#fff;
	padding:20px 10px 30px 10px;
}
.col_1_of_4 {
	display: block;
	background: #FFF;
}
/*--facts--*/
.facts {
	width: 100%;
	background: url(../images/2.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
	padding:30px 0px 10px 0px;
}
.view {
   width:200px;
   height:200px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width:200px;
   height:200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view h2 {
  	color: #FFF;
	text-align: center;
	position: relative;
	font-size:0.85em;
	padding: 10px;
	background: none;
	margin:5px 0 0 0;
	font-weight: 600;
}
.view p {
  	font-size:1em;
	position: relative;
	color: #FFF;
	padding:0px 20px 20px;
	text-align: center;
	line-height: 1.5em;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
}
.view a.info:hover {
   background:#E74C3C;
}
.view-fifth img {
 
   display: block;
}
.view-fifth .mask {
   background-color:rgba(15, 207, 140, 0.9);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   color: #fff;
}
.view-fifth p {
   color: #fff;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.social_hover{
	padding:20% 0 6%;
}
.social_hover ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social_hover li {
	background: none;
	display: inline-block;
}
li.fb a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -150px -15px #03B477;
}
li.tw a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -186px -17px #03B477;
}
li.g1 a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -224px -17px #03B477;
}
.social_hover li:hover{
	opacity:0.9;
}
.grid_desc{
	padding:20px 0;
}
.grid_desc h4{
	margin-bottom:10px;
}
.grid_desc h4 a{
	color:#283A47;
	font-size:1em;
	font-weight:600;
}
.grid_desc h4 a:hover{
	color:#0FCF8C;
}
.grid_desc p{
	color: #4D606E;
	font-size: 0.84em;
	font-weight: 600;
}
span.left_line2{
	height: 3px;
	width:60px;
	display: block;
	background: url(../images/border2.png) no-repeat 0px 0px;
	position: absolute;
	left:14%;
	bottom: 13px;
}
span.right_line2 {
	height: 3px;
	width:60px;
	display: block;
	background: url(../images/border2.png) no-repeat 0px 0px;
	position: absolute;
	right:14%;
	bottom: 13px;
}
.col_1_of_f:first-child {
	margin-left: 0;
}
.col_1_of_f {
	display: block;
	float: left;
	text-align:center;
}
.span_1_of_f {
	width:50%;
	margin-bottom: 20px;
}
.facts_box{
	padding:20px 0;
}
.clock{
	margin-top:10px;
}
.clock h4{
	font-size:1.1em;
	font-weight:600;
	color:#fff;	
	margin-bottom: 3px;
}
.clock p{
	font-size:11px;
	text-transform:uppercase;
	color:#fff;	
	font-weight:100;
}
/*--footer-top--*/
.footer-top{
	padding:30px 10px;
	background:#fff;
}
.cont {
	display: block;
}
.span_1_of_2 {
	margin-bottom:20px;
}
.rsidebar {
	display: block;
}
h4.m_8{
	color:#283A47;
	font-size:1em;
}
.address{
	margin-top:10px;
}
.address p {
	font-size: 0.8125em;
	font-weight:600;
	color:#888;
	line-height: 1.8em;
}
.address p span {
	color: #666;
	cursor: pointer;
}
.address p span:hover{
	text-decoration: underline;
}
h4.m_9{
	color: #000;
	font-size: 1em;
	font-weight: 600;
}
.contact-to input[type="text"] {
	padding: 10px 0px;
	width: 40.5%;
	margin: 10px 0 40px;
	color: #999;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.8125em;
	border-bottom: 1px solid #E0E0E0;
	border-top: none;
	border-left: none;
	border-right: none;
	font-family:Arial, Helvetica, sans-serif;
}
.text2 input[type="text"], .text2 textarea {
	width: 91.5%;
	border-bottom: 1px solid #E0E0E0;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #999;
	font-family:Arial, Helvetica, sans-serif;
	outline: none;
	resize: none;
	text-decoration:none;
	font-size: 0.8125em;
}
.contact-form input[type="submit"] {
	float: right;
	cursor: pointer;
	-webkit-appearance: none;
	padding: 12px 35px;
	background: url(../images/img-sprite1.png) -309px -358px;
	display: inline-block;
	font-size:0.8125em;
	margin-top: 2%;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	border: none;
	outline: none;
}
.contact-form input[type="submit"]:hover {
	color:#0FCF8C;
}
.social_icons{
	margin-top:10px;
}
.map{
	border-bottom:5px solid #062033;
}
.social_icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social_icons ul li{
	display: inline-block;
}
.social_icons ul li:hover{
	opacity:0.7;
}
li.behance a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -204px -316px;
}
li.tw1 a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -249px -318px;
}
li.dribble1 a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -302px -320px;
}
li.forest a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -349px -319px;
}
li.g2 a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite1.png)no-repeat -401px -323px;
}
/*--footer-bottom--*/
.footer-bottom{
	background:#0FCF8C;
	padding:20px 10px;
}
.col_1_of_5 {
	display: block;
}
.span_1_of_5 {
	margin-bottom:20px;
}
p.m_10{
	color:#fff;
	font-size:0.8125em;
	line-height:1.8em;
}
h5.m_11{
	color: #EDFFFB;
	font-size: 1em;
	font-weight: 600;
	margin-bottom:10px;
}
.subscribe{
	position: relative;
	border: 2px solid #FFF;
	width:90%;
	margin-bottom:10px;
}
.subscribe input[type="text"], .subscribe input[type="submit"] {
	font-family:Arial, Helvetica, sans-serif;
	display: inline-block;
	border:none;
	color: #FFF;
	outline: none;
	font-size:0.8125em;
	-webkit-appearance: none;
}
.subscribe input[type="text"] {
	background: none;
	padding:7px;
	width: 82%;
}
.subscribe input[type="submit"] {
	position: absolute;
	top: 6px;
	right: 6px;
	background: url('../images/img-sprite1.png') no-repeat -210px -366px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	-webkit-appearance: none;
}
.subscribe input[type="submit"]:hover {
	background: url('../images/img-sprite1.png') no-repeat -210px -402px;
}
ul.list1{
	float:right;
	margin-top:-10px;
	width:50%;
}
ul.list li a{
	color: #FFF;
	font-size: 0.8125em;
	line-height:1.8em;
}
ul.list li a:hover, ul.list1 li a:hover{
	color:#062033;
}
ul.list1 li a{
	color: #FFF;
	font-size: 0.8125em;
	line-height: 2.5em;
}
ul.m_11{
	border-left: 1px solid #288e80;
	padding: 0 0 0 10px;
	margin-top:10px;
}
ul.m_11 li{
	font-size:0.8125em;
	color:#fff;
	line-height:1.8em;
}
ul.m_11 li img{
	vertical-align:middle;
}
.copy{
	margin-top:10px;
	text-align:center;
}
.copy p {
	color: #022B22;
	font-size: 0.85em;
	font-weight: 600;
}
.copy p a {
	color: #fff;
}
.copy p a:hover{
	text-decoration:underline;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/img-sprite1.png) no-repeat -242px -363px;
}
/*--single--*/
.single_header-top {
	background: rgba(12, 39, 40, 0.31);
	padding: 0 0 10px 0;
}
.single-top{
	background:#fff;
	padding:30px 10px 10px 10px;
}
.cont1{
	display: block;
}
.span_2_of_single h3{
	font-size:0.9em;
	color: #0FCF8C;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.span_1_of_single h3 {
	font-size:0.9em;
	color: #0FCF8C;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom:10px;
}
.extra {
	color: #4D606E;
	font-size: 0.8125em;
	line-height: 1.5em;
	font-weight: 600;
	margin: 10px 0;
}
.span_2_of_single p {
	color: #4D606E;
	font-size: 0.8125em;
	line-height: 1.5em;
	font-weight: 600;
	margin:10px 0;
}
i.blog_icon1{
	width: 25px;
	height: 25px;
	background: url(../images/img-sprite1.png)-23px -425px;
	display: inline-block;
	vertical-align: top;
}
i.blog_icon2{
	width: 25px;
	height: 25px;
	background: url(../images/img-sprite1.png)-62px -426px;
	display: inline-block;
	vertical-align: top;
}
i.blog_icon3{
	width: 25px;
	height: 25px;
	background: url(../images/img-sprite1.png)-98px -426px;
	display: inline-block;
	vertical-align: top;
}
i.blog_icon4{
	width: 25px;
	height: 25px;
	background: url(../images/img-sprite1.png)-135px -429px;
	display: inline-block;
	vertical-align: top;
}
i.blog_icon5{
	width: 25px;
	height: 25px;
	background: url(../images/img-sprite1.png)-175px -426px;
	display: inline-block;
	vertical-align: top;
}
.links {
	padding: 10px 0px;
	border: 1px solid #EEE;
	border-left: none;
	border-right: none;
	margin:20px 0;
}
.links ul li a {
	color: #4D606E;
	font-size: 0.8125em;
	font-weight:600;
}
.links ul li a:hover {
	text-decoration:underline;
}
.comment h2 {
	font-size:0.9em;
	color: #0FCF8C;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom:10px;
}
.comments-area h2 {
	font-size:0.9em;
	color: #0FCF8C;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
ul.comment-list {
	border: 1px solid #EEE;
	padding:10px;
}
ul.comment-list img {
	float: left;
	width: 25%;
	margin-right: 10px;
}
ul.comment-list .desc h5 a {
	color: #4D606E;
	font-size: 0.85em;
	font-weight:800;
}
ul.comment-list .desc h5 a:hover {
	color: #010B13;
}
.single_sidebar {
	display: block;
	margin-top:20px;
}
ul.sidebar li {
	list-style-image: url(../images/marker2.png);
	margin: 0 14px 5px;
	vertical-align: bottom;
}
ul.sidebar li a {
	color: #4D606E;
	font-size: 0.8125em;
	line-height: 1.5em;
	font-weight: 600;
}
ul.sidebar li a:hover{
	color: #1E3D53;
}
.extra a {
	color: #000;
}
.extra a:hover {
	color: #555;
}
.links ul li img {
	vertical-align: middle;
	padding-right: 10px;
}
.reply a {
	color:#4D606E;
	font-size: 0.85em;
	font-weight: 600;
}
.reply a:hover {
	text-decoration:underline;
}
.comments-area {
	padding-top:20px;
}
.comments-area label {
	display: block;
	color: #999;
}
.comments-area span {
	color:#0FCF8C;
	position: absolute;
	left: 4px;
	top: 30px;
}
.comments-area input[type="text"] {
	padding: 7px 15px;
	width:80%;
	color: #999;
	font-size: 13px;
	border: none;
	background:#F4F7F9;
	outline: none;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
}
.comments-area textarea {
	padding: 7px 15px;
	width: 88%;
	color: #999;
	font-size: 13px;
	outline: none;
	height: 100px;
	display: block;
	border: none;
	background: #F1F3F6;
	font-family:Arial, Helvetica, sans-serif;
}
.comments-area p {
	position: relative;
	padding: 8px 0;
	margin: 0;
}
.comments-area input[type="submit"] {
	padding: 8px 9px;
	color: #FFF;
	background: #0FCF8C;
	font-size: 0.9em;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance: none;
}
.comments-area input[type="submit"]:hover {
	background:#555;
}
ul.sidebar{
	margin-bottom:20px;
}
